.clockSwitcher {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

// display both buttons at the side ends of the header row and the label in the middle, no matter if any of the buttons are visible

.clockSwitcherHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

// buttons should take equal space, roughly one fifth of the header row
.clockSwitcherButton {
    min-width: 20%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

// the label should always take the remaining space
.clockSwitcherLabel {
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
