.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  column-count: 2;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 16px;
  padding: 16px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;

  width: 180px;
  height: 180px;

  border-radius: 25px;
  background: #e0e0e0;
  @media (prefers-color-scheme: light) {
    box-shadow: -10px 10px 20px #cacaca, 10px -10px 20px #f6f6f6;
  }
}

.header {
  margin-top: 0;
  font-weight: bold;
  font-weight: 700;
  font-size: 1.0em;
  text-align: start;

  display: flex;
  flex-direction: column;
  gap: 0.2em;

  *:first-child {
    font-size: 1.5em;
  }
}

.value {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  width: 4em;
  flex-grow: 1;
  width: 100%;
  margin-block: unset;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > * {
    flex: 0 1;
  }
}

.minutes {
  margin-right: 10px;
}

.overflow {
  color: red;
}
