.formRow {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 0.5rem;

  & > * {
    flex: 1 0 50%;
  }

  & > label {
    text-align: end;
  }
}

.input {
  height: 26px;
  min-width: unset;
  max-width: none;
  width: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 500px;
  gap: 0.5rem;
}

.finish {
  width: 100%;
}
