.formRow {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 10px;

  & > * {
    flex: 1 0;
  }

  & > label {
    text-align: end;
    width: 100%;
  }
}

.input {
  height: 26px;
  min-width: unset;
  max-width: unset;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.finish {
  width: 100%;
}
